@charset "UTF-8";
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium.eot");
  src: url("../fonts/Futura-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Medium.woff2") format("woff2"), url("../fonts/Futura-Medium.woff") format("woff"), url("../fonts/Futura-Medium.ttf") format("truetype"), url("../fonts/Futura-Medium.svg#Futura-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaBT-Book.eot");
  src: url("../fonts/FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Book.woff2") format("woff2"), url("../fonts/FuturaBT-Book.woff") format("woff"), url("../fonts/FuturaBT-Book.ttf") format("truetype"), url("../fonts/FuturaBT-Book.svg#FuturaBT-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/FuturaDemiC-Italic.eot");
  src: url("../fonts/FuturaDemiC-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaDemiC-Italic.woff2") format("woff2"), url("../fonts/FuturaDemiC-Italic.woff") format("woff"), url("../fonts/FuturaDemiC-Italic.ttf") format("truetype"), url("../fonts/FuturaDemiC-Italic.svg#FuturaDemiC-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/FuturaDemiC.eot");
  src: url("../fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaDemiC.woff2") format("woff2"), url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.ttf") format("truetype"), url("../fonts/FuturaDemiC.svg#FuturaDemiC") format("svg");
  font-weight: normal;
  font-style: normal;
}
.main-header {
  background-color: #131313;
}
.main-header .main-navigation {
  display: flex;
}
.main-header .main-navigation .main-header-logo {
  margin-left: 82px;
  padding: 37px 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E3B873;
}
.main-header .main-navigation .site-navigation {
  display: flex;
  margin-left: 95px;
  padding: 37px 0;
}
.main-header .main-navigation .site-navigation__item {
  margin-right: 47px;
}
.main-header .main-navigation .site-navigation__link {
  font-family: FuturaBookC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.main-header .main-navigation .site-navigation__item .selected {
  color: #E3B873;
}
.main-header .main-navigation .main-navigation__contacts {
  display: flex;
  margin-left: 67px;
  padding-top: 37px;
}
.main-header .main-navigation .main-navigation__contacts__link {
  margin-right: 45px;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
}
.main-header .main-navigation .main-navigation__contacts__btn {
  padding: 13px 33px;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
