.main-header {
  background-color: $black;

  .main-navigation {
    display: flex;

    .main-header-logo {
      margin-left: 82px;
      padding: 37px 0;
      font-family: FuturaDemiC, sans-serif;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      text-transform: uppercase;
      color: $yellow;
    }

    .site-navigation {
      display: flex;
      margin-left: 95px;
      padding: 37px 0;

      &__item {
        margin-right: 47px;
      }

      &__link {
        font-family: FuturaBookC, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
      }

      &__item .selected {
        color: $yellow;
      }
    }

    .main-navigation__contacts {
      display: flex;
      align-items: center;
      margin-left: 67px;

      &__link {
        margin-right: 45px;
        font-family: FuturaDemiC, sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;
        color: $yellow;
      }

      &__btn {
        padding: 13px 33px;
        font-family: FuturaDemiC, sans-serif;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        background: $yellow;
        box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        border: 0;
      }
    }
  }
}