.order {
  display: flex;

  &__steps {
    @include size(834px, 799px);
    min-width: 834px;
    position: relative;

    &-lines {
      position: absolute;
    }

    &-img {
      position: absolute;
      bottom: 208px;
    }

    &-item {
      position: absolute;
      display: flex;
      align-items: center;

      &__number {
        @include size(42px);
        min-width: 42px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: Yeseva One, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
        border-radius: 50%;
        background-color: #E3B873;
      }

      &__text {
        padding: 17px;
        font-family: FuturaMediumC, serif;
        font-size: 18px;
        line-height: 21px;
      }
    }

    &-item:nth-child(1) {
      top: 50px;
      left: 354px;
    }

    &-item:nth-child(2) {
      top: 168px;
      left: 433px;
    }

    &-item:nth-child(3) {
      top: 329px;
      left: 456px;
    }

    &-item:nth-child(4) {
      top: 484px;
      left: 390px;
    }
  }

  &__form-discount {
    padding-top: 50px;
  }

  &__form {
    display: flex;
    min-width: 508px;
    flex-direction: column;
    margin-bottom: 38px;
    padding: 28px 49px 26px;
    background-color: #000;

    &-title {
      margin-bottom: 39px;
      font-family: FuturaDemiC, serif;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
    }

    &-wrap {
      margin-bottom: 50px;
    }

    &-wrap:nth-of-type(3) {
      margin-bottom: 17px;
    }

    &-caption {
      font-family: FuturaBookC, sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
    }

    &-input {
      display: block;
      width: 100%;
      padding: 7px 0;
      font-family: FuturaMediumC, sans-serif;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      background-color: transparent;
    }

    &-input::placeholder {
      color: #FFFFFF;
    }

    &-label {
      position: relative;
      padding-left: 27px;
      margin-bottom: 39px;
      cursor: pointer;
      font-family: FuturaBookC, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &-label:before {
      content: "";
      @include size(18px);
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      background: #E3B873;
    }

    &-checkbox:checked + &-label:after {
      content: url(/assets/img/checkbox2.svg);
      position: absolute;
      bottom: 0;
      left: 4px;
    }

    &-checkbox {
      display: none;
    }

    &-btn {
      align-self: flex-end;
      max-width: 213px;
      padding: 18px 40px;
      font-family: FuturaDemiC, sans-serif;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border: 0;
      background-color: #E3B873;
      box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15)
    }
  }

  &__discount {
    display: flex;
    align-items: center;

    &-logo {
      @include size(72px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      border-radius: 50%;
      background-color: #E3B873;
      box-shadow: 0 10px 20px rgba(237, 192, 120, 0.2);
    }

    &-text {
      font-family: FuturaDemiC, serif;
      font-size: 20px;
      line-height: 25px;
      color: #E3B873;
      text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
    }


  }
}