.projects {
  background: url(/assets/img/projects-bg.png) no-repeat;
  background-size: cover;

  &__carousel {
    display: flex;
    padding: 105px 0 90px 100px;
    overflow: hidden;

    .description {
      padding: 70px 50px 0 0;

      &__caption {
        margin-bottom: 35px;
        font-family: Yeseva One, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: $yellow;
      }

      &__text {
        margin-bottom: 42px;
        font-family: FuturaBookC, sans-serif;
        font-size: 18px;
        line-height: 29px;
        color: $white;
      }

      &__table {
        padding-bottom: 45px;
      }

      &__row {
        display: flex;
      }

      &__meta {
        flex: 1;
        margin-bottom: 35px;
      }

      &__title {
        font-family: Yeseva One, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: $yellow;
      }

      &__desc {
        font-family: FuturaBookC, sans-serif;
        font-size: 15px;
        line-height: 20px;
        color: $white;
      }

      &__pagination {

        &__items {
          display: flex;
          align-items: center;
        }

        &__link {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 18px;
          background: rgba(255, 255, 255, 0.3);
          border-radius: 50%;
        }

        .active {
          background: $white;
        }

        &__btn-arrow-right,
        &__btn-arrow-left {
          position: relative;
          width: 41px;
          height: 1.5px;
          background: $white;
        }

        &__btn-arrow-right {
          margin-left: 12px;
        }

        &__btn-arrow-left {
          margin-right: 30px;
        }

        &__btn-arrow-left:before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 7px;
          height: 7px;
          border-left: 1.5px solid $white;
          border-bottom: 1.5px solid $white;
          transform: rotate(45deg);
        }

        &__btn-arrow-right:after {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 7px;
          height: 7px;
          border-right: 1.5px solid $white;
          border-top: 1.5px solid $white;
          transform: rotate(45deg);
        }
      }
    }

    .gallery {
      &__pagination {
        margin-bottom: 45px;
      }

      &__pagination__items {
        display: flex;
      }

      &__pagination__item {
        margin-right: 60px;
      }

      &__pagination__link {
        font-family: Yeseva One, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.3);
      }

      .current {
        color: $yellow;
        text-decoration: underline;
      }

      &__img {
        position: relative;

        &-slide-two {
          position: absolute;
          left: 700px;
        }

        &-control {
          position: absolute;
          top: calc(50% - 22.5px);
          left: 740px;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: $yellow;
        }

        &-control:before {
          content: "";
          position: absolute;
          top: calc(50% - 3.5px);
          left: calc(50% - 3.5px);
          width: 7px;
          height: 7px;
          border-right: 1.5px solid $white;
          border-top: 1.5px solid $white;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__online-control {
    text-align: center;
    padding-bottom: 260px;

    &__title {
      margin-bottom: 13px;
      font-family: Yeseva One, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }

    &__logo {
      @include backgroundImg("/assets/img/camera.svg");
      position: relative;
      display: inline-block;
      width: 33px;
      height: 28px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 11px;
        width: 32px;
        height: 1.5px;
        background: $yellow;
      }

      &:before {
        left: 40px;
      }

      &:after {
        right: 40px;
      }
    }

    &__video {
      position: absolute;
      top: 0;
      left: calc(50% - 408.5px);

      &-wrapper {
        position: relative;
      }

      &-btn {
        @include backgroundImg("/assets/img/play-button.png");
        @include size(85px);
        position: absolute;
        top: calc(434px / 2 - 85px / 2);
        left: calc(50% - 42.5px);
      }
    }
  }
}